@tailwind base;
@tailwind components;
@tailwind utilities;

/* User styles */

body {
  height: 100vh;
  /* Set the height of the body to 100% of the viewport height */
  margin: 0;
  /* Reset default margin */
  padding: 0;
  /* Reset default padding */
}

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline;
}

.htmx-request.htmx-indicator {
  display: inline;
}

/* Alpine.js styles */

[x-cloak] {
  display: none !important;
}
